@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

* {
  font-family: 'Crimson Text', serif;
  font-size: 12pt;
  color: #111;
}

html, body{
  background-color: #fcfeff;
  margin: 0;
  padding: 0;
}

a, a:visited{
  text-decoration: none;
  font-size: inherit;
}

a:hover, a:active{
  color: #680015;
}


h1.comingSoon{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding-top: 3em;
}


.work{
  width: 55vw;
  margin: 2em auto;
}

.bioHolder{
  width: 70vw;
  margin: 3em auto;
  border-top: 1px #111 solid;
}

p.authorBio{
}

.holder{
  width: 45vw;
  margin: 25vh auto;
}

.holder h1{
  font-weight: bold;
  padding-bottom: 1em;
}

h1.workTitle{
  font-size: 1.5em
}

h2.workAuthor{
  font-size: 1.2em;
  margin: 0.5em 0;
  text-align: left;
  padding-bottom: 2em;
  font-weight: lighter;
}

p.workBody{
  margin: 2em 0 0 0;
  font-weight: lighter;
  padding: 2em 0;
}

h1.authorName{
  font-size: 2em;
  padding-bottom: 1em;
}

.workImage{
  width: 100%;
}

#header{
  height: 2em;
  display: block;
  width: 100vw;
  top: 0;
  margin: 0 0 4em 0;
  padding-bottom: 1.4em;
  border-bottom: 1px #111 solid;
}

#header .homeLink{
  display: inline-block;
  font-size: 1em;
  font-weight: lighter;
  padding: 1em;
  margin: 0;
}

#header .link{
  display: block;
  font-size: 1em;
  font-weight: lighter;
  padding: 1em;
  margin: 0;
  float: right;
}


@media only screen and (max-device-width: 480px) {

  .work{
    width: calc(100vw - 2em);
    margin: 1em;
  }
  .bioHolder{
    width: calc(100vw - 2em);
    margin: 1em;
    border-top: 1px #111 solid;
  }
  h2.workAuthor{
    padding-top: 0;
  }


}
