@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

* {
  font-family: 'Crimson Text', serif;
  font-size: 12pt;
  color: #111;
}

html, body{
  background-color: #fffefe;
  margin: 0;
  padding: 0;
}

a, a:visited{
  text-decoration: none;
  font-size: inherit;
}

a:hover, a:active{
  color: #680015;
}


h1.comingSoon{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding-top: 3em;
}

.mainContent{
  margin: 5em;
  text-align: justify;
}

.featuredContent{
  margin: 2em 15em 10em 15em;
  text-align: justify;
}

.featuredContent h2{
  font-size: 1.8em;
}

.featuredContent h3{
  font-size: 1.2em;
  font-weight: lighter;
}


.mainContent h2{
  font-size: 1.2em;
}

.mainContent h3{
  font-size: 1em;
  font-weight: lighter;
}


.work{
  width: 55vw;
  margin: 2em auto;
}

.bioHolder{
  width: 70vw;
  margin: 3em auto;
  border-top: 1px #111 solid;
}

p.authorBio{
}

.holder{
  width: 45vw;
  margin: 30vh auto 25vw auto;
}


h1.workTitle{
  font-size: 2em
}

h2.workAuthor{
  font-size: 1.2em;
  margin: 0.5em 0;
  text-align: left;
  padding-bottom: 2em;
  font-weight: lighter;
}


p.workBody{
  margin: 2em 0 0 0;
  font-weight: lighter;
  padding: 2em 0;
}

h1.authorName{
  font-size: 2em;
  padding-bottom: 1em;
}

.workImage{
  width: 100%;
}

#header{
  height: 2em;
  display: block;
  width: 100vw;
  top: 0;
  margin: 0 0 4em 0;
  padding-bottom: 1.4em;
  border-bottom: 1px #111 solid;
}

#header .homeLink{
  display: inline-block;
  font-size: 1em;
  font-weight: lighter;
  padding: 1em;
  margin: 0;
}

#header .link{
  display: block;
  font-size: 1em;
  font-weight: lighter;
  padding: 1em;
  margin: 0;
  float: right;
}

p.imgCredit{
  text-align: right;
  font-size: 0.8em;
  margin-top: 0.1em;
}

p.aboutUs{
  margin: 2em;
}

.workBox{
  width: 30vw;
  display: inline-block;
  margin: 2em;
}

.boxImg{
  width: 100%;
}

h1.Archive{
  font-size: 2em;
}




@media only screen and (max-device-width: 480px) {

  .work{
    width: calc(100vw - 2em);
    margin: 1em;
  }
  .bioHolder{
    width: calc(100vw - 2em);
    margin: 1em;
    border-top: 1px #111 solid;
  }
  h2.workAuthor{
    padding-top: 0;
  }
  #header{
    margin: 0 0 2em 0;
  }
  p.workBody{
    margin: 0;
  }
  p.imgCredit{
    padding-top: 2em;
  }
  .holder{
    width: 85vw;
  }
  .mainContent{
    margin: 2em 1em;
  }
  .featuredContent{
    margin: 2em 1em 5em 1em;
    text-align: left;
  }
  .workBox{
    width: calc(100vw - 6em);
    display: inline-block;
    margin: 2em;
  }



}
